accelerate
aiohttp
backtesting
ccxt
cryptography
dash
django
fastapi[standard]
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-generativeai
gymnasium
httpx
importlib-metadata==4.11.4
jinja2
kaleido
langchain-core
langchain-ollama
matplotlib
mplfinance
ntplib
numpy==2.2.0
openai
openai-whisper
pandas
pandas-ta
Pillow
plotly
pybit
pydantic
pydub
python-binance
python-dotenv
pytesseract
redis
requests
scipy
scikit-learn
setuptools<81
slowapi
sse-starlette
stable-baselines3
ta
torch==2.4.1
torchvision==0.19.1
transformers
tqdm
ultralytics
uvicorn
websockets
yfinance
youtube-transcript-api
